# init.target.rc

on fs
    # create data/gps for GPS daemon
    chown root system /sys/class/sec/gps/GPS_PWR_EN/value
    chmod 0664 /sys/class/sec/gps/GPS_PWR_EN/value
    chown root system /sys/class/sec/gps/GPS_nRST/value
    chmod 0664 /sys/class/sec/gps/GPS_nRST/value
    mkdir /data/gps 771 gps system
    chown gps system /data/gps

# MAX17041 Fuel Gauge Reset
on boot && property:ro.max17041.fg_reset_soc=1
    write /sys/devices/platform/i2c-gpio.9/i2c-9/9-0036/power_supply/fuelgauge/fg_reset_soc 1

# Flash Counter Reset Compatibility
on boot && property:ro.mmc.mmcblk0boot0.force_ro=0
    write /sys/block/mmcblk0boot0/force_ro 0

# GPS daemon
service gpsd /system/bin/gpsd -c /system/etc/gps.xml
    class main
    socket gps seqpacket 0660 gps system
    user gps
    group system inet
